<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <p>{{post_text}}</p>
    </div>
    <div class="meta"> point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comments(s)</a>
    </div>
</article>

{{!-- {{format_plural "comment" comments.length}} format_date format_url--}}